.button {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 70px;
  border-radius: 40px;
  border: none;
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
  background-color: rgb(205, 141, 149);
  border: 4px solid #bb945f;
  color: rgb(49, 27, 30);
  cursor: pointer;
  transform: scale(1);
  transition: all ease 0.4s;
  margin-top: 50px;
}

.button-open:hover {
  transform: scale(1.1);
}
